<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>{% block title %} {% endblock %}</title>
  </head>

  <body>
    <div class="panel is-link"></div>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <strong>Arquivos CSV</strong>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            <a href="{{ url_for('site.index') }}">Home</a>
          </a>
    
          <a class="navbar-item">
            <a href="{{ url_for('site.upload_file') }}">Carrega Arquivo</a>
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            <a href="{{ url_for('site.files_list') }}">Lista arquivos carregados</a>
          </a>
    
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-light">
                Log in
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>


    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>

</html>