<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Arquivos</title>
</head>
<body>
 {% if files %}
<p> Lista de Arquivos</p>

<hr>
 <table><tr>
	 <td>Arq. Nome</td><td>Tipo</td></tr>
 <form accept-charset="x-iso-8859-11" action="mostra_arquivo" method="post">
	{% for file in files %}
	 <tr><td>{{ file }}</td>
			<td>
			<select id="tipo" name="tipo">
				<option value="emp">Empenhos</option>
				<option value="dia">Diárias</option>
				<option value="liq">Liquidações</option>
				<option value="rec">Recibos</option>
				<option value="rmc">Remanejamento a crédito</option>
				<option value="rmd">Remanejamento a debito</option>
				<option value="0" selected>Sem definição</option>
			</select>
				<input hidden name="filename" value="{{ file }}"/>
			 <input type = "submit" value="ok"/>
			</td></tr>


	{% endfor %}

 </form>
	 <table>
		 {% else %}
		 <p> Lista de Registros no Arquivo</p>

	{% for lin in linhas %}
	  <p> {{ lin[:8] }} <p>
	{% endfor %}
		 {% endif %}

</body>
</html>